body {background: #e0edfc;}

a:link {color: #fc02a4;}

a:visited {color: green;}

a:hover {color: blue;}

main {
  border: solid;
  border-style: double;
  border-color: #5ea1ed;
  border-width: 10px;
  margin: 20px;
  padding: 15px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

#travel {
  display: inline-block;
  border: solid;
  border-style: dotted;
  border-width: 5px;
  border-color: #e25fe0;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

#travel > h1 {font-size: 30px;}

.places {text-align: center;}

fieldset {
  background-image: url("photos/g_canyon.jpg");
  background-size: 100% 100%;
}

form > p {
  font-size: 20px;
  text-shadow: 2px 2px 2px #fcd202;
  font-weight: bold;
}

form {
  font-family: "Helvetica", sans-serif;
  text-shadow: 2px 2px #fcd202;
}

footer {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  body {width: auto;}
  img {width: 100%;}
}

