body {
  background: #e0edfc;
}

main {
  border: solid;
  border-color: #5ea1ed;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

footer {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

.places {
  text-align: center;
}

#vacation {
  background-image: url(photos/g_canyon.jpg);
  background-size: 100% 100%;
}